*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100%;
    background-image: url(architecture-4843615_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}
.container {
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    color:black;
}

.container .input-box{
    width: 300px;
    position:relative;
    height:50px;
    margin:30px 0;
    display:flex;
}

.input-box input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #3b3b3b;;
    border-radius: 30px;
    font-size: 16px;
    color:#3b3b3b;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:#3b3b3b;
}

.input-box i{
    position: absolute;
    right:20px;
    margin-top: 12px;
}

.remember{
    text-align: left;
    margin-bottom: 40px;
    margin-top: -20px;
    margin-left: 12px;
}

.container .btn{
    width: 400px;
    height: 45px;
    background-color: #fff;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: -10px;
}

.container .btn:hover{
    opacity: 0.8;
}

.container .signin{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.signup p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    justify-content: space-between;
}

.signup p a:hover{
    text-decoration: underline;
}

:root{
    --text-color: #f0f4f5;
    --background-color: black;
    --accent-color:red;
}

.navbar{
    display:flex;
    justify-content: space-between ;
    align-items: center;
    background-color: var(--background-color);
    padding: 50px 15px;
    font-family: "Source Sefif 4";
}

.navbar a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar_logo{
    font-size: 40px;
}

.navbar_logo logo{
    color: var(--accent-color);
    margin-top: -30px;
}
.navbar_logo i{
    font-size: 50px;
    color:red;
    margin-left: 5px;
    margin-top: 15px;
    margin-right: -15px;
}
.navbar_menu{
    display: flex;
    list-style:none;
    font-size: 20px;
    margin-top: 35px;
    margin-left: -25px;
    margin-right: -25px;
}

.navbar_menu li{
    padding: 8px 11px;
}

.navbar_menu li:hover{
    background-color: var(--accent-color);
    border-radius: 15px;
}

.navbar_icons{
    list-style:none;
    color:var(--text-color);
    display: flex;
    margin-top: 40px;
}

.navbar_icons li{
    margin-right: 10px;
    padding: 8px 8px;
}

.navbar_toggle{
    position:absolute;
    right: 32px;
    font-size: 37px;
    display: none;
}

@media screen and (max-width:800px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding:8px 24px;
    }
    .navbar_menu{
        margin: -10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_icons{
        margin: 15px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .container{
        margin-top: 70px;
    }

    .navbar_toggle{
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active{
        display: none;
    }
}
body{
    margin-top:20px;
    background-color: #f2f3f8;
}
.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e9f2;
    border-radius: .2rem;
}
